.input-ranges[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #3f4656;
    /* Headline color */
}

.input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

.input-ranges[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #3f4656;
    /* Headline color */
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}

.input-ranges[type='range']::-webkit-slider-thumb:hover {
    background: #eaefff;
    border: 1px solid #275efe;
    /* Primary color */
    outline: .5px solid #275efe;
    /* Primary color */
}

.input-ranges[type='range']::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}