<div class="fil-1 bg-white w-3/4 flex flex-col ">
    <span class="text-lg font-semibold p-5 border-b">Course Type</span>
    <label class="px-5 py-2">
        <input type="radio" name="radio" class="peer peer-checked:bg-[#30C2EC] peer-checked:border-[#30C2EC] border" checked><span class="p-2 peer-checked:text-[#30C2EC] ">All Courses</span>
    </label>
    <label class="px-5 py-2">
        <input type="radio" name="radio" class="peer peer-checked:bg-[#30C2EC] peer-checked:border-[#30C2EC] border"><span class="p-2 peer-checked:text-[#30C2EC] ">Free Courses Courses</span>
    </label>
    <label class="px-5 py-2">
        <input type="radio" name="radio" class="peer peer-checked:bg-[#30C2EC] peer-checked:border-[#30C2EC] border"><span class="p-2 peer-checked:text-[#30C2EC] ">Premium Courses</span>
    </label>
</div>