/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #EFEFEF; */
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;

}


.card-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px 14px;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    row-gap: 5px;
    /* border-radius: 25px; */
    /* padding: 25px 0; */
}


.card-image {
    position: relative;
    /* border-radius: 25px; */
    background: #FFF;
    /* padding: 3px; */
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px;
    /* border: 4px solid #4070F4; */
}

.name {

    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    /* text-align: center; */
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265DF2;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

.video-but {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
}

.play-btn {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#30c1ec, #30c1ec);
    cursor: pointer;
    outline: none;
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 93%;
    height: 93%;
    background-color: #ffff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-btn:checked {
    animation: borderAnimate 700ms ease-in-out 1;
    animation-fill-mode: forwards;
}

@keyframes borderAnimate {
    0% {
        transform: rotate(0);
        background: conic-gradient(#30c1ec, transparent 20%);
    }

    80% {
        background: conic-gradient(#30c1ec, transparent 90%);
    }

    100% {
        transform: rotate(360deg);
        background: conic-gradient(#30c1ec, #30c1ec);
    }
}

.play-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 60%;
    top: 50%;
    background-color: #30c1ec;
    transform: translate(-60%, -50%) rotate(90deg);
    clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.play-btn:checked+.play-icon {
    clip-path: polygon(0 100%, 0% 100%, 100% 100%);
}

.pause-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.pause-icon::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #30c1ec;
    left: 0;
}

.pause-icon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #30c1ec;
    right: 0;
}

.play-btn:checked~.pause-icon::before {
    animation: reveal 300ms ease-in-out 350ms 1;
    animation-fill-mode: forwards;
}

.play-btn:checked~.pause-icon::after {
    animation: reveal 300ms ease-in-out 600ms 1;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    0% {
        width: 0;
    }

    100% {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}